
<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzMatchRouter >
    <a routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/enterprise-overview" routerLinkActive="active">Enterprise - Overview</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/site-overview" routerLinkActive="active">Site - Overview</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/login" routerLinkActive="active">Log in</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/sing-up" routerLinkActive="active">Sing Up</a>
  </li>
</ul>


