<nz-layout class="app-layout">
  <!-- <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Application</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Menu" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/enterprise-overview" routerLinkActive="active">Enterprise - Overview</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/site-overview" routerLinkActive="active">Site Overview</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </li>
    </ul>
    <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
      <span class="trigger"
         nz-icon
         [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      ></span>
  </span>
  </nz-sider> -->
  <nz-layout>
    <app-header></app-header>
    <nz-content>
      <div class="inner-content">
        <app-layout></app-layout>
      </div>
    </nz-content>
    <app-footer></app-footer>
  </nz-layout>
</nz-layout>
